.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #161b22;
  padding: 15px 20px;
  border-bottom: 1px solid #2d333b;
}

.logo {
  font-size: 45px;
  font-weight: bold;
  letter-spacing: 2px;
}

.profile {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.About,
.contact,
.signup,
.username,
.logout {
  margin-right: 25px;
  color: #58a6ff;
  display: flex;
  justify-content: space-evenly;
  font-size: 16px;
  cursor: pointer;
  transition: color 0.2s ease;
}

.About:hover,
.contact:hover,
.signup:hover,
.username:hover,
.logout:hover {
  color: #3b82f6; /* hover effect */
  text-decoration: underline;
}

.profile-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
